.WindowMask {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    z-index: 900;
}

.WindowMask.hidden {
    display: none;
}

.WindowMask.mask {
    background-color: rgba(0, 0, 0, 0.6);
    pointer-events: all;
    z-index: 1000;
}

.Window {
    position: relative;
    width: 600px;
    height: 400px;
    padding: 0px 5px 5px;
    background: rgb(7, 97, 134);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 10px 0px;
    box-sizing: border-box;
    pointer-events: all;
    z-index: 200;
}

.Window>.wrap {
    position: relative;
    width: 100%;
    height: 100%;
    background: #fff;
}

.Window>.wrap>.title {
    font-size: 14px;
    line-height: 24px;
    color: #fff;
    background: rgb(7, 97, 134);
    text-align: left;
    display: block;
    cursor: move;
    white-space: nowrap;
    overflow: hidden;
}

.Window>.wrap>.title>.controls {
    position: absolute;
    left: 0;
    top: 0;
    right: 4px;
    text-align: right;
    white-space: nowrap;
    user-select: none;
}

.Window>.wrap>.title>.controls>.icon {
    width: 16px;
    height: 24px;
    margin-right: 4px;
    vertical-align: top;
    display: inline-block;
    cursor: pointer;
}

.Window>.wrap>.content {
    position: absolute;
    left: 20px;
    right: 20px;
    top: 44px;
    bottom: 52px;
    font-size: 12px;
    word-break: break-word;
    overflow: hidden;
}

.Window>.wrap>.buttons {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(218, 236, 244);
    text-align: right;
    white-space: nowrap;
    overflow: hidden;
}

.Window>.wrap>.buttons>.button-wrap {
    position: relative;
    height: 24px;
    margin: 4px;
    padding: 0;
    border: none;
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    box-sizing: border-box;
}