.FormControl {
    min-height: 20px;
    margin: 4px;
    box-sizing: border-box;
}

.FormControl.hidden {
    display: none;
}

.FormControl>* {
    vertical-align: middle;
}

.FormControl>.Label {
    width: 60px;
}