.LinkButton {
    height: 24px;
    line-height: 24px;
    padding: 0 4px;
    font-size: 12px;
    color: #000;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

.LinkButton:hover {
    text-decoration: underline;
}

.LinkButton.disabled {
    color: #888;
}