.DataGrid {
    display: inline-block;
    user-select: none;
    cursor: default;
}

.DataGrid>table {
    border-collapse: collapse;
}

.DataGrid>table>thead {
    background-color: #f7f7f7;
}

.DataGrid>table>thead>tr,
.DataGrid>table>tbody>tr {
    height: 24px;
    line-height: 24px;
}

.DataGrid>table>tbody>tr:nth-child(even) {
    background-color: #f7f7f7;
}

.DataGrid>table>tbody>tr.selected {
    color: #fff;
    background-color: #3399ff;
}

.DataGrid>table>tbody>tr:hover {
    color: #fff;
    background-color: #3399ff;
}

.DataGrid>table>thead>tr>td,
.DataGrid>table>tbody>tr>td {
    padding: 0 16px;
    border: 1px solid #ebebeb;
    box-sizing: border-box;
}