.Window.TypefaceConverterWindow>.wrap>.content>.Form>.FormControl>.Label {
    width: 100px;
}

.Window.TypefaceConverterWindow>.wrap>.content>.Form>.FormControl>.font {
    border: none;
    padding: 0;
}