.Timeline {
    width: 100%;
    height: 120px !important;
    display: flex;
    flex-direction: column;
}

.Timeline>.box {
    position: relative;
    display: flex;
    flex-direction: row;
}

.Timeline>.box>.layerNames {
    width: 120px;
}

.Timeline>.box>.animations {
    position: relative;
    flex: 1;
}

.Timeline>.box>.animations>.time {
    position: relative;
    height: 40px;
    overflow-x: auto;
}

.Timeline>.box>.animations>.time>canvas {
    position: absolute;
}