.Timeline {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.Timeline>.box {
    position: relative;
}

.Timeline>.box>.time {
    position: relative;
    height: 40px;
    overflow-x: auto;
}

.Timeline>.box>.time>canvas {
    position: absolute;
}