.Timeline {
    width: 100%;
    height: 160px !important;
    display: flex;
    flex-direction: column;
}

.Timeline>.box {
    position: relative;
    display: flex;
    flex: 1;
    flex-direction: row;
    overflow: auto;
}

/* left */

.Timeline>.box>.left {
    position: sticky;
    left: 0;
    width: 100px;
    border-right: 1px solid #ddd;
    box-sizing: border-box;
    padding-top: 34px;
    z-index: 10;
}

.Timeline>.box>.left>.info {
    position: relative;
    height: 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
}

.Timeline>.box>.left>.info:first-child {
    border-top: 1px solid #ddd;
}

/* right */

.Timeline>.box>.right {
    position: relative;
    display: flex;
    flex: 1;
    flex-direction: column;
}

.Timeline>.box>.right>.timeline {
    position: absolute;
    height: 32px;
}

.Timeline>.box>.right>.layers {
    position: absolute;
    top: 34px;
    width: 100%;
    flex: 1;
    border-top: 1px solid #ddd;
    box-sizing: border-box;
}

.Timeline>.box>.right>.layers>.layer {
    position: relative;
    width: 100%;
    height: 32px;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
}

.Timeline>.box>.right>.layers>.layer>.item {
    position: absolute;
    left: 0;
    width: 80px;
    height: 100%;
    background-color: #ddd;
    border: 1px solid #ccc;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}