.MenuItemSeparator {
    white-space: nowrap;
    display: block;
}

.MenuItemSeparator.hidden {
    display: none !important;
}

.MenuItemSeparator .separator {
    background: rgb(229, 229, 229);
}

.MenuItemSeparator.vertical .separator {
    height: 2px;
    margin-left: 24px;
    background-image: linear-gradient(to bottom, rgb(226, 226, 226), rgb(226, 226, 226) 50%, rgb(252, 252, 252) 50%, rgb(252, 252, 252));
}

.MenuItemSeparator.horizontal .separator {
    width: 1px;
    height: 12px;
    margin-top: 6px;
    background: #8c8c8c;
}