.MenuItem {
    position: relative;
    min-width: 160px;
    line-height: 24px;
    margin: 3px;
    padding: 2px 14px 2px 30px;
    vertical-align: top;
    white-space: nowrap;
    box-sizing: border-box;
    cursor: pointer;
    user-select: none;
    --right-arrow: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAABAQMAAADO7O3JAAAAA3NCSVQICAjb4U/gAAAABlBMVEXi4+P///9V63aNAAAACXBIWXMAAAsSAAALEgHS3X78AAAAHHRFWHRTb2Z0d2FyZQBBZG9iZSBGaXJld29ya3MgQ1M1cbXjNgAAABZ0RVh0Q3JlYXRpb24gVGltZQAwNy8wNi8xMZANh+UAAAAKSURBVAiZY3AAAABCAEGV6TQ4AAAAAElFTkSuQmCC') repeat-y rgb(240, 240, 240);
}

.MenuItem.hidden {
    display: none !important;
}

.MenuItem:hover {
    background: linear-gradient(to bottom, rgba(193, 222, 255, 0.2), rgba(193, 222, 255, 0.4));
    color: black;
    padding: 1px 13px 1px 29px;
    border: 1px solid rgb(183, 212, 246);
}

.MenuItem.disabled {
    cursor: not-allowed;
}

.MenuItem.disabled:hover {
    background: initial;
    color: initial;
    padding: 2px 14px 2px 30px;
    border: initial;
}

.MenuItem.disabled>span {
    color: #aaa !important;
    pointer-events: none;
}

.MenuItem.checked>.prefix {
    position: absolute;
    left: -1px;
    top: 4px;
    width: 20px;
    height: 20px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAvSURBVDhPYxg6oKur6z8lGGoMAoAEyQWjBkLAqIEkgVEDIWCEGkgJhhoz6AEDAwCX46nq5LTHtAAAAABJRU5ErkJggg==);
    pointer-events: none;
}

.MenuItem.checked>.prefix.on {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAACYSURBVDhP1YxRCoMwEERzp9ZL1RO156i306QuTJg1jpHFH/vgQXSHl/6Hx7uUKyJD1CgiMkSNIiJD1CgiMkSNznx9+UaG+OGZw6eUedn+Q4b4Y08VM5Eh7UD5XF2yviFD6mGc9uNqPoiZyBB/NPy32YuZyJB24KP+fSQyRI0q6taKDFGjiMgQNYqIDFGjiMgQNYqIzO1J6Qc9ntav8Xl7ewAAAABJRU5ErkJggg==);
}

.MenuItem.checked:hover>.prefix {
    left: -2px;
    top: 3px;
}

.MenuItem.selected>.prefix {
    position: absolute;
    left: -1px;
    top: 4px;
    width: 20px;
    height: 20px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAEiSURBVDhP1ZPLaoNAGIVdttC+TUveqHmAEkp3br0gKCq60bfwti40BNF9kodIusrOzIFTxNYxE3d+8MOg/znM/Bdt2RiG8WxZ1krEmrHSdf2Jv+/Ddd3POI4PSZKci6K4IHCOomjved4H09TwfX9XVdWpkyDMz0EQfDN9Gpi1bUupnKZpOpG7pWwcPHPqZn/BTcXzN5QPQQNQM+YqI2p6dBznkTY96CCKzjxloLFt+5U2PRgLdJJ5yuR5fjFN8402PXMNoZEZzn6yqP8LbXqwAaIpe+Ypg6akafpAmyHYgLIslW+ZZdmP0LxTPg42AEN7i7quuzAMvyibBhuAoaX2H7iZstkv2ADUB0VHJxE449vNZ8rABmBoMRYIdFPagIWgaVdKsJshjm46QwAAAABJRU5ErkJggg==);
    pointer-events: none;
}

.MenuItem.selected>.prefix.on {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAFlSURBVDhP1ZO/SsNQFMYzKuimm4OPoFVxlKoFoTrqI+gDiIhro4KLm9C61ERaseDiE2gRlOqmiLRd62w61enzftcTcluTNHbrDw5cknM+zl9ruJk4wfhcAYupAnZofE+eYUx+/4/0BQ7WS2hsVeDZd+jQ+N4oo77sYF/ckrHqonZcxRciOKzCyzh4FPd4KHbzLpExXL8BGRdPEhYOy+zNrP0NvHz+Gt8m9j28tIM9Ce+GA2DPxFdz+wEsFQE1DG1885tJtozm1ClGRSaAE2TTxU9nY4qZomammypm5hwLIhPAtVAldMQPz62/Yr7xn09OTT+Vx7bIBAwqyJhQQeU4cMmzecyLTAAvgEsrfpqkQ5kuYkRkuuEFHKmlFV8Ns2GJNDMzovrXXnGxK+Hh8AIqamn7cfUKrF3iQcLi4QXYPZmaMLPEYj68gGwJTTadk6TxzZ71LTMKXgCXlmtB4zQjBzAkWNYPuWx6Vj2oQrgAAAAASUVORK5CYII=);
}

.MenuItem.selected:hover>.prefix {
    left: -2px;
    top: 3px;
}

.MenuItem>span {
    pointer-events: none;
}

.MenuItem>.suffix {
    text-align: right;
    display: block;
    float: right;
    pointer-events: none;
}

.MenuItem>.sub {
    position: absolute;
    left: calc(100% + 4px);
    top: -4px;
    box-sizing: border-box;
    cursor: default;
    display: none;
    z-index: 300;
}

.MenuItem>.sub::before {
    position: absolute;
    left: -6px;
    height: 100%;
    width: 8px;
    content: '';
}

.MenuItem:hover>.sub {
    display: block;
}

.MenuItem>.sub>.wrap {
    position: relative;
    list-style: none;
    background: var(--right-arrow);
    background-position: 24px 0;
    margin: 0;
    padding: 0;
    border: 1px solid rgb(195, 195, 195);
    border-radius: 5px;
    box-shadow: rgba(128, 128, 128, 0.5) 0px 0px 16px 1px;
    box-sizing: border-box;
    vertical-align: text-bottom;
}