.Toolbar {
    background: #fafafa;
    display: flex !important;
    align-items: center;
    box-sizing: border-box;
    overflow: hidden;
}

.Toolbar.horizontal {
    width: 100%;
    height: 25px;
    flex-direction: row;
    background: linear-gradient(to bottom, rgb(250, 252, 253), rgb(232, 241, 251) 40%, rgb(220, 230, 243) 40%, rgb(220, 231, 245));
}

.Toolbar.vertical {
    width: 32px;
    height: 100%;
    flex-direction: column;
    background: #fafafa;
}

.Toolbar .Icon {
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
}

/* ToolbarSeparator */

.ToolbarSeparator {
    white-space: nowrap;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.ToolbarSeparator>.separator {
    width: 2px;
    height: 24px;
    background: rgb(229, 229, 229);
    background-image: linear-gradient(to right, rgb(226, 226, 226), rgb(226, 226, 226) 50%, rgb(252, 252, 252) 50%, rgb(252, 252, 252));
}

.Toolbar.vertical>.ToolbarSeparator>.separator {
    width: 24px;
    height: 2px;
    background: rgb(229, 229, 229);
    background-image: linear-gradient(to bottom, rgb(226, 226, 226), rgb(226, 226, 226) 50%, rgb(252, 252, 252) 50%, rgb(252, 252, 252));
}