.Toolbar {
    background: #fafafa;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    overflow: hidden;
}

.Toolbar.horizontal {
    width: 100%;
    height: 32px;
    flex-direction: row;
}

.Toolbar.vertical {
    width: 32px;
    height: 100%;
    flex-direction: column;
}

.Toolbar .Icon {
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
}