.Panel {
    position: relative;
    left: 0;
    top: 0;
    width: 240px;
    height: 320px;
    background: #fff;
    border: 1px solid #e6e6e6;
    box-sizing: border-box;
}

.Panel.maximized {
    position: fixed;
    left: 0;
    top: 0;
    right: 100%;
    bottom: 100%;
    z-index: 9000;
}

.Panel.collapsed {
    height: auto;
}

.Panel.hidden {
    display: none;
}

.Panel>.header {
    position: relative;
    height: 32px;
    background-color: #f7f7f7;
}

.Panel>.header.hidden {
    display: none;
}

.Panel>.header>.title {
    height: 100%;
    line-height: 32px;
    padding-left: 16px;
    color: #3399ff;
    display: inline-block;
    box-sizing: border-box;
}

.Panel>.header>.controls {
    position: absolute;
    left: 0;
    right: 4px;
    top: 0;
    bottom: 0;
    text-align: right;
    white-space: nowrap;
}

.Panel>.header>.controls>.control {
    width: 32px;
    height: 32px;
    margin: 0 4px;
    display: inline-block;
    box-sizing: border-box;
    cursor: pointer;
}

.Panel>.header>.controls>.control>.iconfont {
    font-size: 24px;
    line-height: 32px;
    color: #909090;
}

.Panel>.body {
    height: calc(100% - 32px);
    padding: 4px;
    box-sizing: border-box;
}

.Panel.collapsed>.body {
    height: 0;
    padding: 0;
    overflow-y: hidden;
}

.Panel>.header.hidden+div.body {
    height: 100%;
}