.Window.RoleManageWindow>.wrap>.content {
    left: 0;
    right: 0;
    top: 24px;
    bottom: 0;
}

.Window.RoleManageWindow>.wrap>.content>.Toolbar>.Button {
    height: 20px;
    line-height: 20px;
    font-size: 12px;
}

.Window.RoleManageWindow>.wrap>.content>.Toolbar>.SearchField {
    width: 240px;
}

.Window.RoleManageWindow>.wrap>.content>.DataGrid {
    height: calc(100% - 25px);
}