.Window.TypefaceManagementWindow > .wrap > .content {
    left: 0;
    right: 0;
    top: 24px;
    bottom: 32px;
}

.Window.TypefaceManagementWindow > .wrap > .content > .VBoxLayout > .Toolbar > .Button {
    height: 20px;
    line-height: 20px;
    margin: 2px 4px;
    font-size: 12px;
}