.LoadMask {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2000;
}

.LoadMask.hidden {
    display: none;
}

.LoadMask>.box {
    position: relative;
    background: #c3daf9;
    border: 1px solid #6593cf;
    padding: 2px;
}

.LoadMask>.box>.msg {
    font: normal 12px 'Microsoft YaHei';
    line-height: 16px;
    color: #222;
    background: #fbfbfb url(../assets/image/loading.gif) no-repeat 5px 5px;
    padding: 5px 10px 5px 25px;
    border: 1px solid #a3bad9;
    cursor: wait;
}