.IconButton {
    width: 32px;
    height: 32px;
    color: #8a8a8a;
    background: none;
    margin: 4px;
    padding: 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    cursor: pointer;
}

.IconButton.selected {
    color: #fff;
    background: #3399ff;
    border: 1px solid #3399ff;
}

.IconButton:hover {
    background: linear-gradient(to bottom, rgba(193, 222, 255, 0.8), rgba(193, 222, 255, 0.98));
    border: 1px solid rgb(183, 212, 246);
}

.IconButton .iconfont {
    font-size: 20px;
}