.IconButton {
    width: 32px;
    height: 32px;
    color: #8a8a8a;
    background-color: #fff;
    margin: 2px;
    padding: 0;
    border: none;
    box-sizing: border-box;
    cursor: pointer;
}

.IconButton:hover {
    background-color: #eee;
}

.IconButton .iconfont {
    font-size: 20px;
}