.MenuItem {
    position: relative;
    line-height: 24px;
    vertical-align: top;
    white-space: nowrap;
}

.MenuItem .dropDown {
    position: absolute;
    left: 0;
    top: 23px;
    font: 13px arial, sans-serif;
    box-sizing: border-box;
    cursor: default;
}

.MenuItem .dropDown .wrap {
    position: relative;
    list-style: none;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAABAQMAAADO7O3JAAAAA3NCSVQICAjb4U/gAAAABlBMVEXi4+P///9V63aNAAAACXBIWXMAAAsSAAALEgHS3X78AAAAHHRFWHRTb2Z0d2FyZQBBZG9iZSBGaXJld29ya3MgQ1M1cbXjNgAAABZ0RVh0Q3JlYXRpb24gVGltZQAwNy8wNi8xMZANh+UAAAAKSURBVAiZY3AAAABCAEGV6TQ4AAAAAElFTkSuQmCC') repeat-y rgb(240, 240, 240);
    margin: 0;
    padding: 0;
    border: 1px solid rgb(195, 195, 195);
    border-radius: 5px;
    box-shadow: rgba(128, 128, 128, 0.5) 0px 0px 16px 1px;
    box-sizing: border-box;
    vertical-align: text-bottom;
}

.MenuItem .dropDown .wrap .MenuItem {
    padding: 4px 16px;
}