.MenuItem {
    padding: 0 16px;
    line-height: 24px;
    vertical-align: top;
}

.MenuItem .dropDown {
    border: 0px;
    padding: 0px;
    position: absolute;
    margin: 0px;
    box-sizing: border-box;
    font: 13px arial, sans-serif;
    cursor: default;
    user-select: none;
    top: 23px;
    left: 0px;
    background-color: #fff;
}

.MenuItem .dropDown .wrap {
    position: relative;
    margin: 0px;
    padding: 0px;
    list-style: none;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: text-bottom;
    border: 1px solid rgb(195, 195, 195);
    box-shadow: rgba(128, 128, 128, 0.5) 0px 0px 16px 1px;
    overflow: hidden;
    border-radius: 5px;
}