.MenuItem {
    position: relative;
    line-height: 24px;
    margin: 3px;
    padding: 2px 14px 2px 30px;
    vertical-align: top;
    white-space: nowrap;
    box-sizing: border-box;
    cursor: pointer;
    user-select: none;
    --right-arrow: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAABAQMAAADO7O3JAAAAA3NCSVQICAjb4U/gAAAABlBMVEXi4+P///9V63aNAAAACXBIWXMAAAsSAAALEgHS3X78AAAAHHRFWHRTb2Z0d2FyZQBBZG9iZSBGaXJld29ya3MgQ1M1cbXjNgAAABZ0RVh0Q3JlYXRpb24gVGltZQAwNy8wNi8xMZANh+UAAAAKSURBVAiZY3AAAABCAEGV6TQ4AAAAAElFTkSuQmCC') repeat-y rgb(240, 240, 240);
}

.MenuItem:hover {
    background: linear-gradient(to bottom, rgba(193, 222, 255, 0.2), rgba(193, 222, 255, 0.4));
    color: black;
    padding: 1px 13px 1px 29px;
    border: 1px solid rgb(183, 212, 246);
}

.MenuItem>span {
    pointer-events: none;
}

.MenuItem>.suffix {
    width: 40px;
    margin-left: 48px;
    margin-right: -4px;
    text-align: right;
    display: inline-block;
    pointer-events: none;
}

.MenuItem>.sub {
    position: absolute;
    left: 100%;
    top: 0;
    box-sizing: border-box;
    cursor: default;
    display: none;
    z-index: 300;
}

.MenuItem>.sub::before {
    position: absolute;
    left: -6px;
    height: 100%;
    width: 8px;
    content: '';
}

.MenuItem:hover>.sub {
    display: block;
}

.MenuItem>.sub>.wrap {
    position: relative;
    list-style: none;
    background: var(--right-arrow);
    background-position: 24px 0;
    margin: 0;
    padding: 0;
    border: 1px solid rgb(195, 195, 195);
    border-radius: 5px;
    box-shadow: rgba(128, 128, 128, 0.5) 0px 0px 16px 1px;
    box-sizing: border-box;
    vertical-align: text-bottom;
}