html,
body,
#container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Microsoft YaHei;
    font-size: 14px;
}

/* Button */

.Button {
    height: 20px;
    margin: 0 2px;
    padding: 0 8px;
    color: #8a8a8a;
    background-color: #fff;
    border: 1px solid #8a8a8a;
    box-sizing: border-box;
    cursor: pointer;
}

.Button:hover {
    background-color: #eee;
}

.Button.primary {
    color: #3399ff;
    border: 1px solid #3399ff;
}

.Button.success {
    color: #64CF40;
    border: 1px solid #64CF40;
}

.Button.warn {
    color: #F6A623;
    border: 1px solid #F6A623;
}

.Button.danger {
    color: #E74C3C;
    border: 1px solid #E74C3C;
}

.Button.disabled {
    color: #bebebe;
    border: 1px solid #bebebe;
}

/* CheckBox */

.CheckBox {
    width: 20px;
    height: 20px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAvSURBVDhPYxg6oKur6z8lGGoMAoAEyQWjBkLAqIEkgVEDIWCEGkgJhhoz6AEDAwCX46nq5LTHtAAAAABJRU5ErkJggg==);
    display: inline-block;
    outline: none;
    -webkit-appearance: none;
}

.CheckBox.selected {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAACYSURBVDhP1YxRCoMwEERzp9ZL1RO156i306QuTJg1jpHFH/vgQXSHl/6Hx7uUKyJD1CgiMkSNIiJD1CgiMkSNznx9+UaG+OGZw6eUedn+Q4b4Y08VM5Eh7UD5XF2yviFD6mGc9uNqPoiZyBB/NPy32YuZyJB24KP+fSQyRI0q6taKDFGjiMgQNYqIDFGjiMgQNYqIzO1J6Qc9ntav8Xl7ewAAAABJRU5ErkJggg==);
}

.CheckBox.disabled {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAvSURBVDhPYxg64PXr1/8pwVBjEAAkSC4YNRACRg0kCYwaCAEj1EBKMNSYQQ8YGACTLe4e+yPbzQAAAABJRU5ErkJggg==);
}

.CheckBox.selected.disabled {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAABkSURBVDhP5dBBCsAgDADB/P+rviCXWFYsLaGNYi6VLgREdARln0opNTOduWJztZ+AZlZVta3TINj9fAr0GC2DTxiF4PkvvjeMQpD8xQijIUjRA74pkNgbYTQNzrYxmJnOfD6RAzbN65BiZNB7AAAAAElFTkSuQmCC);
}

/* Form */

.Form {
    box-sizing: border-box;
}

/* FormControl */

.FormControl {
    min-height: 20px;
    margin: 1px 0;
    box-sizing: border-box;
}

/* Input */

.Input {
    width: 160px;
    font: 12px 'Microsoft YaHei';
    margin: 1px 0;
    padding: 0 2px;
    border: 1px solid rgb(217, 217, 217);
    outline: 0;
    box-sizing: border-box;
    vertical-align: top;
}

/* Label */

.Label {
    min-width: 120px;
    height: 20px;
    font: 12px 'Microsoft YaHei';
    line-height: 20px;
    padding: 0 8px;
    display: inline-block;
    box-sizing: border-box;
}

/* Radio */

.Radio {
    width: 20px;
    height: 20px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAEiSURBVDhP1ZPLaoNAGIVdttC+TUveqHmAEkp3br0gKCq60bfwti40BNF9kodIusrOzIFTxNYxE3d+8MOg/znM/Bdt2RiG8WxZ1krEmrHSdf2Jv+/Ddd3POI4PSZKci6K4IHCOomjved4H09TwfX9XVdWpkyDMz0EQfDN9Gpi1bUupnKZpOpG7pWwcPHPqZn/BTcXzN5QPQQNQM+YqI2p6dBznkTY96CCKzjxloLFt+5U2PRgLdJJ5yuR5fjFN8402PXMNoZEZzn6yqP8LbXqwAaIpe+Ypg6akafpAmyHYgLIslW+ZZdmP0LxTPg42AEN7i7quuzAMvyibBhuAoaX2H7iZstkv2ADUB0VHJxE449vNZ8rABmBoMRYIdFPagIWgaVdKsJshjm46QwAAAABJRU5ErkJggg==);
    display: inline-block;
    outline: none;
    -webkit-appearance: none;
}

.Radio.selected {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAFlSURBVDhP1ZO/SsNQFMYzKuimm4OPoFVxlKoFoTrqI+gDiIhro4KLm9C61ERaseDiE2gRlOqmiLRd62w61enzftcTcluTNHbrDw5cknM+zl9ruJk4wfhcAYupAnZofE+eYUx+/4/0BQ7WS2hsVeDZd+jQ+N4oo77sYF/ckrHqonZcxRciOKzCyzh4FPd4KHbzLpExXL8BGRdPEhYOy+zNrP0NvHz+Gt8m9j28tIM9Ce+GA2DPxFdz+wEsFQE1DG1885tJtozm1ClGRSaAE2TTxU9nY4qZomammypm5hwLIhPAtVAldMQPz62/Yr7xn09OTT+Vx7bIBAwqyJhQQeU4cMmzecyLTAAvgEsrfpqkQ5kuYkRkuuEFHKmlFV8Ns2GJNDMzovrXXnGxK+Hh8AIqamn7cfUKrF3iQcLi4QXYPZmaMLPEYj68gGwJTTadk6TxzZ71LTMKXgCXlmtB4zQjBzAkWNYPuWx6Vj2oQrgAAAAASUVORK5CYII=);
}

.Radio.disabled {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAEFSURBVDhP1ZNdCsIwEIT7qGBvo3gjPYCU4v0ExSOoN+ifTUvpW52hI0FJY/TNDxZLsjNsdtfovxmGIc7zfJ1l2ZbBb5wtdP0dEO/Lsrwi6qZpega/i6K44C5VWhgQnWFwRzVOjDE1TI9K90OzrusknYY5yD1J5obP9FX2DitFGxLJX8F9zJ6NqeFAc8PPXDYWTpBNH9PCoQbalWwsXIu2bXvlBcPpQ7uRjeVXQ2qchr8+uaqqGoZL2Vhwt8DlZUwLR0OZyeYVVJmiJ8FVYm0MdnEnuRuYHr9Y7INkfvgP8FWqysLMnqA3CfvDQXGSDA6AZx+fOQWKmXNpuRaKJc7cA/gTougBp8flNLlkjQ0AAAAASUVORK5CYII=);
}

.Radio.selected.disabled {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAE1SURBVDhP1ZNJDoJAEEVZaiK30XgjPYAhxvuZaDwCegMmGUIIC9r/6UIaRBR3vqRip4ZPdVVr/TdKKdv3/bXneVsaz/AtJDwNFB/CMLzC4jRNCxrPQRC4iO0l7TtQdIHAHd0MkiRJDNGTpI9DsTzPpfQ9zEHuWcqG4TX7nVVVpcqyrI1nE3aKMThS3gVxmzPTqZqiKBQ+orCQ2nimzwQ1N/zMRaYFyWsOXafpzkwxU9TslDXwrUSmBcnbLMuen+cV+2KNMdbA7cO3EZkWOH8SZA18r4K/XjmKohj+pci0ILZA0NVpmglLmYlMFxTsMZNnl4Td8Io0szOCZ5PgLe6kfBiIniY87KOUjcN/QL9TE+nsO7EGzMbhfLgobpLGBdD38ZrvQDNzjGCFhWzElvANL+BPsKwHYaPc6BXkh3gAAAAASUVORK5CYII=);
}

/* TextArea */

.TextArea {
    width: 160px;
    height: 200px;
    font: 12px 'Microsoft YaHei';
    margin: 0px;
    padding: 0px 2px;
    border: 1px solid rgb(217, 217, 217);
    outline: 0px;
    box-sizing: border-box;
    vertical-align: top;
}

/* Toggle */

.Toggle {
    width: 34px;
    height: 20px;
    margin: 0 4px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACIAAAAUCAYAAADoZO9yAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAABYSURBVEhL7da9CQAgDIRR918gC2SBzJGhImlEzsofMMUJrz2+dDYRiQrqhZhZuPsxVV3Gd4yQHLt5ecg8vIshiCGIIYghiCGIIaheSA5lzKln34DfioRIdJ5veQfy/zjLAAAAAElFTkSuQmCC);
    display: inline-block;
}

.Toggle.selected {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACIAAAAUCAYAAADoZO9yAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAABRSURBVEhLYzCe+f//YMDDxyEzz/z/P4NMXL8fYQ7FDqEEnHmGMGfUISAw6hB0MOoQdDDqEHQw6hB0MOoQdDA8HQJqBpCLqdoMoBYeJA75/x8AV8uDZSB9PMIAAAAASUVORK5CYII=);
}

.Toggle.disabled {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACIAAAAUCAYAAADoZO9yAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAABVSURBVEhL7dY7CgAgDERB73/VEEiTOpJGZK38gClWmHZ56WwiEhXUCzGzcPdjqrqM7xghOXbz8pB5eBdDEEMQQxBDEEMQQ1C9kBzKmFPPvgG/FQmR6IJTLfO1daX2AAAAAElFTkSuQmCC);
}

.Toggle.selected.disabled {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACIAAAAUCAYAAADoZO9yAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAABQSURBVEhL7dahCgAgDIRh3/9Vrw1WVhTLwmEQNci4H66Or2kD0H9YHYi7H8/M8s415KaIyDuCzAThBOEE4QThBOFqQlbP++6efgNe7RMI+gDSby3zpGs0DgAAAABJRU5ErkJggg==);
}

/* Icon */

.Icon {
    font-size: 20px;
}

/* HBoxLayout */

.HBox {
    display: flex;
    flex-direction: row;
}

/* VBoxLayout */

.VBox {
    display: flex;
    flex-direction: column;
}

/* MenuBar */

.MenuBar {
    font: 13px 'Microsoft YaHei';
    color: rgb(0, 0, 0);
    background: linear-gradient(to bottom, rgb(250, 252, 253), rgb(232, 241, 251) 40%, rgb(220, 230, 243) 40%, rgb(220, 231, 245));
    border-bottom: 1px solid rgb(153, 153, 153);
    box-sizing: border-box;
    user-select: none;
}

.MenuBar .header {
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: inline-block;
}

.MenuBar .header .header-item {
    padding: 0 16px;
    line-height: 24px;
    display: inline-block;
    vertical-align: top;
}

/* DropDown */

.DropDown {
    border: 0px;
    outline: 0px;
    padding: 0px;
    position: absolute;
    margin: 0px;
    box-sizing: border-box;
    font: 13px arial, sans-serif;
    cursor: default;
    user-select: none;
    top: 23px;
    left: 0px;
}

.DropDown .wrap {
    position: relative;
    margin: 0px;
    padding: 0px;
    list-style: none;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: text-bottom;
    border: 1px solid rgb(195, 195, 195);
    box-shadow: rgba(128, 128, 128, 0.5) 0px 0px 16px 1px;
    overflow: hidden;
    border-radius: 5px;
}

/* DropDownItem */

.DropDownItem {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    padding: 4px 0px;
    display: block;
}

.DropDownItem .prefix {
    width: 1em;
    height: 1em;
    margin: 0px 0.2em;
    display: inline-block;
    vertical-align: middle;
}

.DropDownItem .item {
    height: 1.2em;
    display: inline-block;
    white-space: nowrap;
}

.DropDownItem .item .icon {
    width: 16px;
    height: 16px;
    margin-right: 0.2em;
    display: inline-block;
}

.DropDownItem .item .text {
    height: 1.2em;
    line-height: 1.2em;
    display: inline-block;
}

.DropDownItem .suffix {
    width: 16px;
    height: 16px;
    line-height: 16px;
    margin-left: 1em;
    margin-right: 0.4em;
    font-size: 75%;
    text-align: right;
    float: right;
}

/* DropDownSeparator */

.DropDownSeparator {
    white-space: nowrap;
    display: block;
}

.DropDownSeparator .separator {
    height: 1px;
    background: rgb(229, 229, 229);
}

/* Panel */

.Panel {
    position: relative;
    left: 0;
    top: 0;
    width: 240px;
    height: 320px;
    background: rgb(44, 62, 80);
    border: 1px solid rgb(44, 62, 80);
    box-sizing: border-box;
}

.Panel .wrap {
    width: 100%;
    height: 100%;
    background: white;
}

.Panel .wrap .title {
    font-size: 14px;
    line-height: 24px;
    color: rgb(255, 255, 255);
    background: rgb(44, 62, 80);
    cursor: default;
    white-space: nowrap;
    overflow: hidden;
}

.Panel .wrap .title .icon {
    width: 16px;
    height: 24px;
    margin-right: 4px;
    vertical-align: top;
    display: inline-block;
}

.Panel .wrap .title .controls {
    position: absolute;
    right: 5px;
    top: 0px;
}

.Panel .wrap .title .controls .control {
    width: 16px;
    height: 24px;
    margin-right: 4px;
    vertical-align: top;
    display: inline-block;
    cursor: pointer;
}

.Panel .wrap .content {
    position: absolute;
    top: 24px;
    bottom: 32px;
    left: 0;
    right: 0;
    overflow: hidden;
}

.Panel .resize {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 10px;
    height: 10px;
}

/* Toolbar */

.Toolbar {
    background: rgb(236, 240, 241);
    display: flex;
    align-items: center;
    box-sizing: border-box;
    overflow: hidden;
}

.Toolbar.horizontal {
    width: 100%;
    height: 40px;
    flex-direction: row;
}

.Toolbar.vertical {
    width: 40px;
    height: 100%;
    flex-direction: column;
}

.Toolbar .Icon {
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
}

/* Alert */

div.Alert {
    outline: none;
    position: fixed;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 10px 0px;
    padding: 0px 5px 5px;
    box-sizing: border-box;
    background: rgb(7, 97, 134);
    width: 190px;
    height: 139px;
    left: 816px;
    top: 339px;
    transform: scale(1, 1);
    opacity: 1;
}

div.Alert .wrap {
    position: relative;
    width: 100%;
    height: 100%;
    outline: none;
    background: white;
}

div.Alert .wrap .title {
    outline: none;
    cursor: default;
    white-space: nowrap;
    overflow: hidden;
    font: 14px/24px arial, sans-serif;
    background: rgb(7, 97, 134);
    color: rgb(255, 255, 255);
    text-align: left;
    display: block;
}

div.Alert .wrap .title .controls {
    outline: none;
    position: absolute;
    left: 0px;
    right: 5px;
    top: 0px;
    bottom: 0px;
    text-align: right;
    white-space: nowrap;
}

div.Alert .wrap .title .controls .icon {
    cursor: pointer;
    display: inline-block;
    margin-right: 4px;
    vertical-align: top;
    width: 16px;
    height: 24px;
}

div.Alert .wrap .content {
    outline: none;
    position: absolute;
    font: 12px arial, sans-serif;
    top: 44px;
    bottom: 52px;
    left: 20px;
    right: 20px;
    overflow: hidden;
}

div.Alert .wrap .buttons {
    outline: none;
    line-height: 32px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    white-space: nowrap;
    overflow: hidden;
    right: 0px;
    background: rgb(218, 236, 244);
    text-align: right;
}

div.Alert .wrap .buttons .button-wrap {
    border: 0px;
    outline: 0px;
    padding: 0px;
    position: relative;
    margin: 0px 5px 0px 0px;
    box-sizing: border-box;
    height: 24px;
    width: 33.5762px;
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

div.Alert .wrap .buttons .button-wrap .button {
    pointer-events: none;
    border: 0px;
    outline: 0px;
    padding: 0px;
    position: absolute;
    margin: 0px;
    box-sizing: border-box;
    width: 34px;
    height: 24px;
    background-color: #E74C3C;
    color: #fff;
}

div.Alert .resize {
    outline: none;
    width: 10px;
    height: 10px;
    position: absolute;
    bottom: 0px;
    right: 0px;
}
