.DataGrid {
    display: block;
    overflow-y: auto;
    user-select: none;
    cursor: default;
    box-sizing: border-box;
}

/* 表格头 */

.DataGrid>.head {
    width: 100%;
    border-collapse: collapse;
}

.DataGrid>.head>thead {
    background-color: #f7f7f7;
}

.DataGrid>.head>thead>tr {
    height: 24px;
    line-height: 24px;
}

.DataGrid>.head>thead>tr>th {
    padding: 0 16px;
    border: 1px solid #ebebeb;
    box-sizing: border-box;
}

.DataGrid>.head>thead>tr>th.checkbox>input {
    vertical-align: middle;
}

/* 表格体 */

.DataGrid>.wrap {
    position: relative;
    height: calc(100% - 26px);
    overflow-y: auto;
}

.DataGrid.pages>.wrap {
    height: calc(100% - 52px);
}

.DataGrid>.wrap>.body {
    width: 100%;
    border-collapse: collapse;
}

.DataGrid>.wrap>.body>tbody>tr {
    height: 24px;
    line-height: 24px;
}

.DataGrid>.wrap>.body>tbody>tr:nth-child(even) {
    background-color: #f7f7f7;
}

.DataGrid>.wrap>.body>tbody>tr.selected {
    color: #fff;
    background-color: #3399ff;
}

.DataGrid>.wrap>.body>tbody>tr:hover {
    color: #fff;
    background-color: #3399ff;
}

.DataGrid>.wrap>.body>tbody>tr>td {
    padding: 0 16px;
    border: 1px solid #ebebeb;
    box-sizing: border-box;
}

.DataGrid>.wrap>.body>tbody>tr:nth-child(1)>td {
    border-top: none;
}

.DataGrid>.wrap>.body>tbody>tr>td.checkbox>.CheckBox {
    vertical-align: middle;
}

.DataGrid>.page {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: 12px;
    padding: 2px 0;
    border-top: 1px solid #ddd;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.DataGrid>.page>.pageSize {
    margin: 0 4px;
}

.DataGrid>.page>.IconButton {
    width: 20px;
    height: 20px;
    margin: 0 4px;
}

.DataGrid>.page>.IconButton>.iconfont {
    font-size: 14px;
    line-height: 18px;
}

.DataGrid>.page>.line {
    margin: 0 4px;
}

.DataGrid>.page>.current {
    width: 32px;
    margin: 0 4px;
}

.DataGrid>.page>.slash {
    margin: 0 4px;
}

.DataGrid>.page>.totalPage {
    margin: 0 4px;
}

.DataGrid>.page>.info {
    margin: 0;
    white-space: nowrap;
}