.BorderLayout {
    width: 800px;
    height: 500px;
    display: flex;
    flex-direction: column;
}

.BorderLayout .fit {
    flex: 1;
    display: flex;
    flex-direction: row;
}

.BorderLayout .fit .center {
    flex: 1;
}

.BorderLayout .fit .east {
    display: flex;
    flex-direction: row;
}

.BorderLayout .fit .east .split {
    width: 16px;
    background: #f00;
}