.PropertyGroup>.content>.property.TextureProperty {
    height: 49px;
}

.TextureProperty>.field>.texture {
    position: absolute;
    width: 100%;
    height: 48px;
    box-sizing: border-box;
    cursor: pointer;
}