.TextProperty {
    height: 20px;
    line-height: 20px;
    border-bottom: 1px solid #d9d9d9;
    box-sizing: border-box;
    vertical-align: middle;
}

.TextProperty .label {
    width: 120px;
    padding: 0 4px;
    display: inline-block;
    box-sizing: border-box;
}

.TextProperty .value {
    width: calc(100% - 120px);
    padding: 0 4px;
    display: inline-block;
    border-left: 1px solid #d9d9d9;
    box-sizing: border-box;
}