.ScriptPanel {
    position: relative;
    display: flex;
    flex-direction: column;
}

.ScriptPanel>.toolbar {
    padding: 2px 4px;
}

.ScriptPanel>.content {
    position: relative;
    width: 100%;
    height: calc(100% - 32px);
    margin: 4px;
    padding: 0;
    border: 1px solid #ddd;
    border-radius: 2px;
    box-sizing: border-box;
    overflow-y: auto;
}