.ScriptPanel {
    position: relative;
    display: flex;
    flex-direction: column;
}

.ScriptPanel>.toolbar {
    padding: 2px 4px;
}

.ScriptPanel>.content {
    position: relative;
    list-style: none;
    margin: 4px;
    padding: 0;
    flex: 1;
    border: 1px solid #ddd;
    border-radius: 2px;
    box-sizing: border-box;
    overflow-y: auto;
}

.ScriptPanel>.content>li {
    padding: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ScriptPanel>.content>li:hover {
    background: #eee;
}

.ScriptPanel>.content>li>span {
    font-size: 12px;
    flex: 1;
    white-space: nowrap;
}

.ScriptPanel>.content>li>.Icon {
    font-size: 14px;
    cursor: pointer;
}