.TabLayout {
    position: relative;
}

.TabLayout>.tabs {
    height: 32px;
    box-sizing: border-box;
}

.TabLayout>.tabs>.tab {
    height: 32px;
    font: 12px 'Microsoft YaHei';
    line-height: 32px;
    padding: 0 8px;
    color: #737373;
    display: inline-block;
    box-sizing: border-box;
    cursor: pointer;
}

.TabLayout>.tabs>.tab.selected {
    color: #3399ff;
    border-bottom: 1px solid #3399ff;
    cursor: default;
}

.TabLayout>.contents {
    position: relative;
    width: 100%;
    height: calc(100% - 32px);
}

.TabLayout>.contents>.content {
    position: relative;
    width: 100%;
    height: 100%;
    display: none;
}

.TabLayout>.contents>.content.show {
    display: block;
}

.TabLayout>.contents>.content>* {
    height: 100%;
}