.Window.AuthorityManagementWindow>.wrap>.content {
    left: 0;
    right: 0;
    top: 24px;
    bottom: 0;
}

.Window.AuthorityManagementWindow>.wrap>.content>.Toolbar>.Button {
    height: 20px;
    line-height: 20px;
    font-size: 12px;
}

.Window.AuthorityManagementWindow>.wrap>.content>.Toolbar>.SearchField {
    width: 240px;
}

.Window.AuthorityManagementWindow>.wrap>.content>.DataGrid {
    height: calc(100% - 25px);
}

.Window.AuthorityManagementWindow>.wrap>.content>.hbox {
    height: calc(100% - 25px);
    box-sizing: border-box;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.Window.AuthorityManagementWindow>.wrap>.content>.hbox>.roles {
    width: 240px;
    height: 100%;
}

.Window.AuthorityManagementWindow>.wrap>.content>.hbox>.authorities {
    height: 100%;
    flex: 1;
    overflow-y: auto;
}

.Window.AuthorityManagementWindow>.wrap>.content>.hbox>.authorities>.FormControl {
    display: flex;
}

.Window.AuthorityManagementWindow>.wrap>.content>.hbox>.authorities>.FormControl>.Label {
    flex: 1;
}