.Toolbar {
    background: #fafafa;
    display: flex !important;
    align-items: center;
    box-sizing: border-box;
    user-select: none;
    overflow: hidden;
}

.Toolbar.horizontal {
    width: 100%;
    height: 25px;
    flex-direction: row;
    background: linear-gradient(to bottom, rgb(250, 252, 253), rgb(232, 241, 251) 40%, rgb(220, 230, 243) 40%, rgb(220, 231, 245));
}

.Toolbar.vertical {
    width: 32px;
    height: 100%;
    flex-direction: column;
    background: #fafafa;
}

.Toolbar .Icon {
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
}