<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="3.4.1" targetFramework="net45" />
  <package id="Common.Logging.Core" version="3.4.1" targetFramework="net45" />
  <package id="DnsClient" version="1.0.7" targetFramework="net45" />
  <package id="log4net" version="2.0.8" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.6" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.6" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.6" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.6" targetFramework="net45" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="1.0.8" targetFramework="net45" />
  <package id="Microsoft.CSharp" version="4.0.1" targetFramework="net45" />
  <package id="Microsoft.International.Converters.PinYinConverter" version="1.0.0" targetFramework="net45" />
  <package id="Microsoft.Net.Compilers" version="2.6.1" targetFramework="net45" developmentDependency="true" />
  <package id="MongoDB.Bson" version="2.6.1" targetFramework="net45" />
  <package id="MongoDB.Driver" version="2.6.1" targetFramework="net45" />
  <package id="MongoDB.Driver.Core" version="2.6.1" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net45" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net45" />
  <package id="System.Buffers" version="4.3.0" targetFramework="net45" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.0.0" targetFramework="net45" />
  <package id="websocket-sharp.clone" version="3.0.0" targetFramework="net45" />
</packages>