<!DOCTYPE html>

<html lang="zh-cn">

<head>
    <meta charset="utf-8">
    <title>ShadowEditor.AI</title>
    <link rel="shortcut icon" href="favicon.ico">
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
</head>

<body>
    <div id="container" tabindex="10"></div>
    <script src="{{ url_for('static', filename='build/ShadowEditor.AI.js') }}"></script>
    <script>
        window.onload = function () {
            new AI.Application(document.getElementById('container'), {
                server: location.origin,
            });
        };
    </script>
</body>

</html>