.Form.DisplayPanel {
    padding: 16px;
    border: 1px solid #ddd;
    border-radius: 2px;
    box-sizing: border-box;
}

.Form.DisplayPanel>.FormControl>.Input.selected-color {
    width: 60px;
    border: none;
    background: transparent;
}

.Form.DisplayPanel>.FormControl>.Input.selected-thickness {
    width: 60px;
}

.Form.DisplayPanel>.FormControl>.Input.hovered-color {
    width: 60px;
    border: none;
    background: transparent;
}