.Viewport {
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
}

.Viewport>.editor {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.Viewport>.cesium {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.Viewport>.svg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.Viewport>.player {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 10;
}