<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr" version="3.4.1.9004" targetFramework="net472" />
  <package id="Common.Logging" version="3.4.1" targetFramework="net472" />
  <package id="Common.Logging.Core" version="3.4.1" targetFramework="net472" />
  <package id="Crc32C.NET" version="1.0.5.0" targetFramework="net472" />
  <package id="DnsClient" version="1.2.0" targetFramework="net472" />
  <package id="FubarDev.FtpServer" version="1.2.0" targetFramework="net472" />
  <package id="FubarDev.FtpServer.AccountManagement" version="1.2.0" targetFramework="net472" />
  <package id="FubarDev.FtpServer.FileSystem" version="1.2.0" targetFramework="net472" />
  <package id="FubarDev.FtpServer.FileSystem.DotNet" version="1.2.0" targetFramework="net472" />
  <package id="FubarDev.Minimatch" version="1.2.0" targetFramework="net472" />
  <package id="log4net" version="2.0.8" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.3" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.3" targetFramework="net472" />
  <package id="Microsoft.CSharp" version="4.0.1" targetFramework="net472" />
  <package id="Microsoft.International.Converters.PinYinConverter" version="1.0.0" targetFramework="net472" />
  <package id="MongoDB.Bson" version="2.10.2" targetFramework="net472" />
  <package id="MongoDB.Driver" version="2.10.2" targetFramework="net472" />
  <package id="MongoDB.Driver.Core" version="2.10.2" targetFramework="net472" />
  <package id="MongoDB.Libmongocrypt" version="1.0.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net472" />
  <package id="rda.SocketsForPCL" version="1.2.2" targetFramework="net472" />
  <package id="SharpCompress" version="0.24.0" targetFramework="net472" />
  <package id="SharpZipLib" version="1.2.0" targetFramework="net472" />
  <package id="Snappy.NET" version="1.1.1.8" targetFramework="net472" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net472" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net472" />
  <package id="WebGrease" version="1.6.0" targetFramework="net472" />
  <package id="websocket-sharp.clone" version="3.0.0" targetFramework="net472" />
</packages>