.HistoryPanel {
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.HistoryPanel>.content {
    height: 240px;
}

.HistoryPanel>.content>.undo {
    padding: 4px;
    opacity: .3;
}

.HistoryPanel>.content>.redo {
    padding: 4px;
    opacity: .3;
}