.PropertyGrid {
    position: relative;
    color: black;
    font: 12px 'Microsoft YaHei';
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
}

.PropertyGrid .group {
    background: #ecf0f1;
}

.PropertyGrid .group>.title {
    height: 20px;
    line-height: 20px;
    box-sizing: border-box;
}

.PropertyGrid .group .property {
    position: relative;
    background: #fff;
    margin-left: 20px;
}

.PropertyGrid .group .property .item {
    height: 20px;
    line-height: 20px;
    border-bottom: 1px solid #d9d9d9;
    box-sizing: border-box;
    vertical-align: middle;
}

.PropertyGrid .group .property .item:first-child {
    border-top: 1px solid #d9d9d9;
}

.PropertyGrid .group .property .item .label {
    width: 120px;
    display: inline-block;
    box-sizing: border-box;
}

.PropertyGrid .group .property .item .value {
    width: calc(100% - 120px);
    display: inline-block;
    box-sizing: border-box;
}