.Button {
    height: 24px;
    margin: 0 4px;
    padding: 0 8px;
    line-height: 24px;
    color: #fff;
    background-color: #e74c3c;
    border: none;
    display: inline-block;
    box-sizing: border-box;
    cursor: pointer;
}

.Button.primary {
    color: #fff;
    background-color: #3399ff;
}

.Button.success {
    color: #fff;
    background-color: #64cf40;
}

.Button.warn {
    color: #fff;
    background-color: #f6a623;
}

.Button.disabled {
    color: #fff;
    background-color: #ebebeb;
}

.Button.hidden {
    display: none;
}