.IconButton {
    width: 32px;
    height: 32px;
    color: #555;
    background: none;
    margin: 4px;
    padding: 0;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
    cursor: pointer;
}

.IconButton.selected {
    color: #fff;
    background: #3399ff;
    border: 1px solid #3399ff;
}

.IconButton:hover {
    color: #3399ff;
    background: none;
    border: 1px solid #3399ff;
}

.IconButton.selected:hover {
    color: #fff;
    background: #3399ff;
    border: 2px solid #3399ff;
}

.IconButton.disabled {
    color: #888;
    background: #eee;
    border: 1px solid #ccc;
    cursor: default;
}

.IconButton.disabled:hover {
    color: #888;
    background: #eee;
    border: 1px solid #ccc;
    cursor: default;
}

.IconButton.hidden {
    display: none;
}

.IconButton .iconfont {
    font-size: 20px;
    pointer-events: none;
}