.Input {
    width: 160px;
    font: 12px 'Microsoft YaHei';
    margin: 1px 0;
    padding: 0 2px;
    border: 1px solid rgb(217, 217, 217);
    box-sizing: border-box;
    vertical-align: top;
}

.Input.hidden {
    display: none;
}