.EditorStatusBar>.Label {
    margin: 0 16px;
}

.EditorStatusBar>.ToolbarSeparator {
    margin: 0 8px;
}

.EditorStatusBar>.Button {
    height: 20px;
    font: 12px 'Microsoft YaHei';
    line-height: 20px;
    padding: 0 6px;
}